
.form3{
  height: 50px;
  width: 350px;
  
  border: solid ;
  border-color : #f8f9fa;
  margin-right: 80%;
  border-radius: 9px;
  margin-left: 9%;
}
.buton3{
  height: 44px;
  width: 75px;
  font-size: 16px;
  color: white;
  background-color: #03a9f4;
  border-radius: 2px;
  border:solid;
  border-color: #03a9f4;
  margin-left: 15%;
  margin-top: 20%;
}
.center3{
  background-color: #f8f9fa;
   margin-left: 35%;
   padding-top: 5%;
    padding-bottom: 5%;
    width: 490px;
    height: 450px;
    border: solid ;
    border-color: #f8f9fa;

}
.forget3{
  margin-left: 2px;
  font-size: 20px;
  margin-top: 20%;
}
.sing3{
  font-size: 30px;
  margin-left: 9%;
}
.error3{
  color:red;
  font-size: 14px;
  margin-left: 10%;
}
.em3{
  margin-left: 9%;
  font-size: 14px;
}

.center12 {
  margin-top: 0px;
   padding-top: 15%;
}