.form2 {
  height: 60px;
  width: 380px;
  border: solid;
  border-color: #f8f9fa;
  margin-right: 80%;
  border-radius: 9px;
  margin-left: 9%;
  margin-top: 4%;
  padding: 10px 40px;
}
.form2Selector {
  height: 60px;
  width: 380px;
  border: solid;
  border-color: #f8f9fa;
  margin-right: 80%;
  border-radius: 9px;
  margin-left: 9%;
  margin-top: 4%;
  padding: 10px 40px;
}
.error2 {
  color: red;
  font-size: 18px;
  margin-left: 9%;
}
.profil2 {
  padding-top: 4%;
  padding-bottom: 5%;
  width: 590px;
  height: 700px;
  border: solid;
  border-color: white;
  box-shadow: 0 0 10px 0 rgba(0, 24, 128, 0.1);
  margin-left: 1%;
}
.foto2 {
  height: 700px;
  width: 990px;
  margin-left: 5px;
}
.an2 {
  font-size: 40px;
  margin-left: 9%;
}
.buton2 {
  height: 50px;
  width: 140px;
  color: white;
  background-color: #03a9f4;
  border-radius: 9px;
  border: solid;
  border-color: #03a9f4;
  margin-left: 9%;
  margin-top: 15%;
  font-size: 20px;
  position: inherit;
}
